            </div>
          </div>
        </div>
      </div>
      <!-- End Site Content -->

      <footer id='footer'>
        <div class='container'>
          <!-- Start Site Footer Navigation -->
          <nav id='bottom-site-nav'>
            <!-- TODO (jms 07-Jun-2017): Need to add navigation here -->
          </nav>
          <!-- End Site Footer Navigation -->

          <p>
            All rights reserved <a href='http://www.rincon.com'>www.rincon.com</a> &copy; 2001-{{ site.time | date: '%Y' }}
          </p>
          <nav class="legal-navigation" role="navigation" aria-label="">
            <!-- TODO (jms 07-Jun-2017): Need to add navigation here... -->
            </nav>
        </div>
      </footer>

<script type='text/javascript'>
  var masthead = $('#masthead');
  $(window).scroll(function(){
    var scrollTo = $(window).scrollTop();
    if (scrollTo <= 3) {
      masthead.removeClass('scrolling');
    } else {
      masthead.addClass('scrolling');
    }
  });
</script>
</div>
  </body>
</html>