<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{% if page.title %}{{ page.title }} - {{ site.data.global.title }}{% else %}{{ site.data.global.title }}{% endif %}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Rincon Research Corporation" />

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700italic,700,400italic" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="http://www.rincon.com/wp-content/themes/rrc/favicon.ico" type="image/x-icon" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link href="{{ "/assets/css/style.css" | relative_url }}" rel="stylesheet" />
    <link href="{{ "/assets/css/print.css" | relative_url }}" media='print' rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <style type="text/css">
    h1.page-title { display: block; }
    </style>
  </head>
  <body>

    <div id='page' class='site'>
      <a class='sr-only' href='#content'>Skip to content</a> <!-- TODO (jms 07-Jun-2017): Need to add link here. -->
      <div class="visible-print" id='printLogo'>
        <img src='{{ "assets/imgs/logo.svg" | relative_url }}' alt='{{ site.data.global.title }}' />
      </div>

      <header id='masthead' role='banner'>
        <!-- Start Site Top Navigation -->
        <!-- TODO (jms 07-Jun-2017): Need to add navigation here. -->
        <script type='text/javascript'>
        $(function() {
          $('#search-submit').click(function(e) {
            e.preventDefault();
            $('#site-search').toggleClass('expanded');
            var searchTerms = $('#s').val();
            if(searchTerms.length > 0) {
              $('#site-search').submit();
            }
          });
        });
        </script>

        <!-- End Site Top Navigation -->
      </header>

      <div class="page-content container">
        <h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.global.title }}{% endif %}</h1>
        <div class="page type-page status-publish hentry">
          <div class="entry clear">
            <div class="row">
