body.page-template-contact {
  background-image: none;
}

body.page-template-contact #map {
  width: 100%;
  height: 100%;
}

.officeInfo {
  max-width: 900px;
  margin-top: 2em;
}

.officeInfo:first-of-type {
  margin-top: 0;
}

.officeInfo .office {
  padding-bottom: 0;
  padding-top: 0;
  border-bottom: 1px solid #999;
}

.officeInfo .office .officeDetails>div {
  padding: .5em 1em 0 1em;
}

.officeInfo li {
  line-height: 1.75em;
}

.officeInfo a.officeLink,
.officeInfo a.directionsLink,
.officeInfo h3,
.officeInfo h4 {
  font-size: 120%;
  text-transform: uppercase;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.officeInfo h3 {
  margin-top: 2em;
  margin-bottom: 1.25em;
}

.officeInfo h4 {
  font-size: 100%;
}

.officeInfo span.locationName {
  display: block;
  color: #999;
  text-transform: uppercase;
}

.officeInfo .officeDetails {
  color: #4e4e4e;
}

.officeInfo .office .officeLocation {
  padding-top: 1em;
}

.modal-dialog {
  background-color: #fff;
  line-height: 1.75em;
  color: #4e4e4e;

  width: 80% !important;
  max-width: 1200px;
}

.modal button.close {
  border: 1px solid #000;
  opacity: 1;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  color: #4e4e4e;
  margin-top: .5em;
  margin-right: .5em;

  position: relative;
  z-index: 1;
}

.modal h2 {
  text-align: left;
  font-size: 140%;
  color: #000;
}

.modal ul,
.modal ol,
.modal dl {
  line-height: 1.5em;
}

.officeImage,
.officeAddress {
  margin-top: 2em;
}

.officeImage {
  max-width: 360px;
}


.officeImage img {
  max-width: 100%;
}

.modalMap {
  width: 100%;
  width: calc(100% - 3.5em);
  height: 100%;
  top: -40px;
}

.modalMap img {
  min-width: 0 !important;
  min-height: 0 !important;
  max-width: none !important;
  max-height: none !important;
}

@media screen and  (max-width: 768px) {
  body.page-template-contact .page-banner {
    height: 200px;
    min-height: 0;
  }

  .modal {
    position: static;
    display: block;
    clear: both;
  }

  .modal button.close {
    display: none;
  }
}

@media screen and  (min-width: 769px) {

  body.page-template-contact .page-banner {
    height: 75vh;
  }

  .officeInfo .office {
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  .officeInfo .office .officeDetails {
    border-left: 1px solid #999;
  }

  .officeInfo .office .officeDetails,
  .officeInfo .office .officeLocation {
    padding-bottom: 2em;
    padding-top: 1em;
  }

  .officeInfo .directionInfo {
    display: none;
  }

  .modal-dialog {
    top: 100px;
    height: 90%;
    height: calc(100% - 200px);
    padding: 1em;
    border: 1px solid rgba(0,0,0,.5);
    box-shadow: 0px 0px 100px rgba(0,0,0,.5);
  }

  .colContainer,
  .modal-body,
  .col1,
  .col2 {
    height: 100%;
  }

  .officeOverview {
    height: 45%;
    margin-bottom: 5%;
    overflow: auto;
  }

  .officeSnapshot {
    height: 48%;
    padding-top: 2%;
    border-top: 1px solid #333;
  }
}