/*!
 * Styles for the home page slideshow
 */
html,
body,
#page,
#content
{
  height: 100%;
}

.carousel {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  background-color: #1A6068;
  background-image: linear-gradient(135deg, #003F6B, #2E785F);
}

.carousel,
.item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.carousel-indicators .active {
  background-color: transparent;
  text-indent: 0;
  width: auto;
  height: auto;
  font-size: 120%;
  text-decoration: underline;
}

.carousel-indicators li {
  width: auto;
  height: auto;
  border: 0;
  background-color: transparent;
  text-indent: 0;
  color: #fefefe;
  font-size: 12px;
}

.carousel-caption  {
  bottom: auto;
  max-height: 360px;
  top: 200px;
  top: calc(50% - 180px);
}

.carousel-caption h2{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  color: #fefefe;
  line-height: 1em;
}

.carousel-caption p {
  line-height: 130%;
}

.carousel-caption a.read-more {
  background-color: transparent;
  border: 1px solid #fff;
}

.carousel-caption a.read-more:focus,
.carousel-caption a.read-more:hover {
  color: #b0b0b0;
  border-color: #b0b0b0;
}

#particles-js {
  display: none;
}

body.home section.affiliations,
body.home section.technologies,
body.home section.careers {
  min-height: 400px;
  padding: 95px 0 65px 0;
}

body.home section h2 {
  margin-top: 0;
}

body.home .affiliations {
  background-color: #022631;
  background-image: url('../imgs/defaultPageBanner.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

body.home .affiliates li {
    margin-right: -1px;
    background-image: url(../imgs/cornerBorders.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


body.home .affiliations h2,
body.home .careers h2 {
  color: #fff;
}

body.home section.careers {
  background-image: linear-gradient(rgba(10,10,10,.6), rgba(10,10,10,.6)), url('../imgs/home-bg.jpg');
  background-repeat: repeat, no-repeat;
  background-position: 0% 0%, 50% 100%;
  background-size: cover, cover;

  padding-top: 20%;
  padding-bottom: 0;
}

body.home section.careers h2 {
  font-size: 275%;
}

body.home section.careers p.tagline {
  color: #fff;
  text-align: center;
  margin: 1em auto 5em auto;
}

body.home section.careers .page-icons img {
  max-width: 50px;
  max-height: 50px;
}

body.home section.careers .page-icons p {
  display: block;
}

body.home #footer {
  background-color: transparent;  
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .carousel-caption  {
    max-height: 280px;
    top: 40px;
  }

  .read-more {
    margin: 1em auto;
  }
}

@media screen and (max-width: 768px) {
  body.home section.careers .page-icons .icon {
    min-height: 150px;
    float: left;
    width: 50%;
    display: block;
  }

  body.home section.affiliations,
  body.home section.technologies,
  body.home section.careers {
    min-height: 200px;
    padding: 1em 0;
  }
}

@media screen and (min-width: 769px) {
  body.home .affiliates li {
    width: 33.3%;
  }
}

@media screen and (min-width: 1200px) {

  .carousel-inner:after {
    content: '';
    position: absolute;
    height: 90%;
    width: 50%;
    max-width: 1200px;
    top: 8%;
    left: 25%;
    background-image: url('../imgs/slideBg.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    z-index: 1;

    /*** TODO: IE 8-10 polyfill ***/
    pointer-events: none;
  }

  #particles-js {
    display: block;

    z-index: 1;
    position: absolute;

    top: 50%;
    left: 50%;
    display: block;
    overflow: hidden;
    -webkit-transform: translate(-50%,-45%);
    transform: translate(-50%,-45%);
    border-radius: 100%;

    width: 700px;
    height: 700px;
    max-height: 75%;
    max-width: 40%;
  }

  /* Make sure we can click the 'Learn More' link. */
  #particles-js,
  .carousel-inner:after {
    /*** TODO: IE 8-10 polyfill ***/
    pointer-events: none;
  }

  .carousel-indicators {
    width: 100px;
    height: 20px;
    bottom: initial;
    left: 50%;
    top: 50%;
    top: calc(50% - 10px);
    left: calc(50% - 50px);
    text-align: center;
    margin-left: 0;
  }

  .carousel-indicators li {
    position: absolute;
    margin: 0;
  }

  .carousel-indicators li::before {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 5px;
    height: 5px;
    border: 1px solid #fff;
    display: none;
  }

  .carousel-indicators li::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 45px;
    background-color: #fff;
  }

  .carousel-indicators li:nth-of-type(1) { top: 15px; left: -80px; }
  .carousel-indicators li:nth-of-type(1)::before { top: 3px; left: 35px; }
  .carousel-indicators li:nth-of-type(1)::after { top: 5px; left: 37px; }

  .carousel-indicators li:nth-of-type(2) { top: 64px; left: -74px; }
  .carousel-indicators li:nth-of-type(2)::before { top: 0px; left: 29.5px; }
  .carousel-indicators li:nth-of-type(2)::after { top: -2px; left: 42px; transform: rotate(-30deg); }

  .carousel-indicators li:nth-of-type(3) { top: 106px; left: -50px; }
  .carousel-indicators li:nth-of-type(3)::before { top: -5px; left: 27px; }
  .carousel-indicators li:nth-of-type(3)::after { top: -13px; left: 49px; transform: rotate(-60deg); }

  .carousel-indicators li:nth-of-type(4) { top: 134px; left: -11px; }
  .carousel-indicators li:nth-of-type(4)::before { top: -9px; left: 28px; }
  .carousel-indicators li:nth-of-type(4)::after { top: -29px; left: 52px; transform: rotate(-90deg); }

  .carousel-indicators li:nth-of-type(5) { top: 146px; left: 42px; }
  .carousel-indicators li:nth-of-type(5)::before { top: -21px; left: 19px; }
  .carousel-indicators li:nth-of-type(5)::after { display: none; }

  .carousel-indicators li.active::before {
    display: block;
  }

  .carousel-caption  {
    bottom: auto;
    max-height: 360px;
    top: 8%;
    left: 51%;
    text-align: left;

    width: 50%;
    max-width: 350px;
  }

  .carousel-caption h2 {
    text-align: left;
    line-height: 1em;
    font-size: 250%;
    margin-bottom: .75em;
  }

  .carousel-caption p {
    line-height: 150%;
  }

  .carousel-caption a.read-more {
    margin-left: 0;
    max-width: 12em;
  }

  body.home #footer {
    padding-top: 20%;
  }

  /*.technologies .accordion-tab-content {
    min-height: 300px;
  }*/

  body.home .page-icons .icon {
    min-height: 0px;
  }
}