/**
 * Below are the styles used when printing the website.
 */

html, body, #page, #content {
  height: auto !important;
}

body {
  color: #000;
}

img {
  max-height: 3in;
}

h1,h2,h3,h4,h5,h6 {
  page-break-inside: avoid;
  page-break-after: avoid;
  margin-top: 1em !important;
}

blockquote {
  border: 0;
  font-size: inherit;
}

/** Make sure the logo is visible **/
#printLogo {
  display: block;
  text-align: center;
  margin-bottom: 1em;
}

#printLogo img {
  width: 3in;
}

/** Remove excess whitespace **/
.page-banner {
  min-height: 0;
  height: auto;
  position: static;

}

.page-banner h1.banner-title,
.page-banner p.banner-tagline {
  color: #000;
  position: static;
}

.page-content {
  margin-top: 1em;
}

.page-icons {
  display: none;
}

/** Hide things that aren't relevant on paper **/
#site-search,
#footer,
.page-icons {
  display: none;
}

a[href]:after {
  content: '' !important;
}

a[href].read-more,
a[href].btn {
  max-width: 100%;
  line-height: 120%;
}

a[href].read-more:after,
a[href].btn:after {
  content: ' (http://rincon.com' attr(href) ')' !important;
  line-height: 100%;
  display: block !important;
  text-transform: none !important;
  font-weight: normal !important;
}

a[href^='http']:after {
  content: ' (' attr(href) ')' !important;
}

a[href^='http'].read-more:after,
a[href^='http'].btn:after {
  line-height: 100%;
  display: block !important;
  text-transform: none !important;
  font-weight: normal !important;
}

/* Adjust font size for better paper usage */
div.entry div,
div.entry p,
.accordion-tab-content div,
.accordion-tab-content p,
.pageTeaser p {
  font-size: 100%;
  line-height: 142% !important;
}

/* Put bullets back... */

div.entry ul,
.accordion-tab-content ul {
  padding-left: 2em;
}

div.entry li,
.accordion-tab-content li {
  list-style: initial !important;
  margin-left: 0 !important;
  position: static !important;
}

div.entry li:before,
.accordion-tab-content li:before {
  display :none !important;
}

/** Home Page **/
#slideshow .carousel-inner {
  position: static;
  height: auto;
  overflow: auto;
}

#slideshow .item,
#slideshow .carousel-caption {
  position: static !important;
}


#slideshow .item {
  max-width: 80%;
  margin: 1em auto;
  display: block;
}

#slideshow .carousel-indicators {
  display: none !important;
}

body.home section {
  padding: 1em !important;
  min-height: 0 !important;
  position: static !important;
  border-top: 1px solid #aaa;
}

/** About Page **/

.facilityInfo .facilityDetails strong {
  display: inline;
  font-size: 100%;
}

.facilityInfo .facilityDetails strong:before {
  content: ' - ';
}

.facilityInfo .facilityDetails div div {
  border-left: 0;
  min-height: 0px;
}

#officeLocations:before {
  /*content: "Our Office Locations";*/

  display:block;
  font-size: 200%;
  font-weight: 700;
  line-height: 1.875em;
  margin: 2em 0 0 0;
  text-align: left;
  text-transform: uppercase;
}

.officeLocation {
  border-top: 1px solid #aaa;
}

.map-link { display: none; }

/** Accordion Tab Styles **/
..accordion-tabs {
  margin-top: 1em;
}

.ui-tabs-panel,
.ui-accordion-content {
  display: block !important;
}

.ui-tabs-panel,
.ui-accordion-header {
  border-bottom: 0;
  border-top: 1px solid #aaa;
  padding: 2em 0 1em 0;
  margin: 2em 0 1em 0;
}

.accordion-tab-headings,
.ui-accordion-header:after {
  display: none !important;
}


/** Product Pages **/
.product-list .product-image {
  display: none;
}

.product-list .product {
  list-style: none !important;
}

.product-list {
  padding: 0 !important;
  margin-left: 0 !important;
}

.product-list .product-teaser {
  width: 95%;
  padding: 1% 2.5%;
  margin: 0;
}

.productGallery {
  display: none;
}

body.single-product .page-banner {
  display: none !important;
}

#techSpecs {
  border-top: 1px solid #aaa;
  padding-top: 1em;
}

.productInfo #techSpecs .specRow {
  border: 0 !important;
}

/** Affiliations **/

.affiliates li,
#awards li {
  width: 100% !important;
  float: none !important;
  max-width: 100% !important;
  min-height: 0 !important;
  height: auto !important;
  margin-bottom: 1em;
}

.affiliates .affiliate-info {
  font-weight: bold;
  line-height: 100%;
}

#awards ul {
  margin-top: 0;
}
#awards li {
  text-align: left;
  padding-left: 2em;
}

/** Contact Page **/
.officeLocation,
.officeDetails,
.officeDetails div {
  float: none !important;
  width: 100% !important;
}

.directionInfo
{
  position: static;
  display: block;
  clear: both;
}

.directionInfo .modal-dialog {
  max-width: 100% !important;
  width: auto !important;
}

.modal-dialog .close,
.officeSnapshot {
  display: none;
}