.product-list {
  max-width: 700px;
  margin: 1em auto;
  list-style: none;

  padding: 0;
}

.product-list .product {
  margin-bottom: 2em;
  cursor: pointer;
}

.product-list .product:before {
  display: none;
}

.product-list .product .product-image img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 1px solid #399c77;
}

.product-list .product .product-link {
  display: block;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: .5em;
}

.product-list .product .more-product {
  text-indent: -9999px;
  background-image: url('../imgs/icons/arrow-ico.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  width: 36px;
  height: 36px;
}

body.single-product .page-banner {
  min-height: 200px;
}

body.single-product .woocommerce-breadcrumb {
  display: none;
}

.productInfo div,
.productInfo ul,
.productInfo ol,
.productInfo dl {
  line-height: 1.75em;
}

.productInfo #techSpecs h3 {
  font-size: 130%;
}

.productInfo #techSpecs .specRow {
  padding: .25em .25em  1em .25em;
  border-bottom: 1px solid #ccc;
  clear: both;
  overflow: auto;
}

.productInfo #techSpecs .specHeading {
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {

  .productInfo .productGallery {
    float: right;
    width: 45%;
    margin-left: 5%;
  }

  .productInfo .productGallery #currentProductImg {
    height: 300px;
    width: 100%;
    margin-bottom: 1em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .productGallery .thumbs img {
    cursor: pointer;
  }

  .productInfo .productGallery .thumbs div:only-child {
    display: none;
  }

  .productInfo #techSpecs {
    max-width: 800px;
    margin: 2em auto;
  }
  
  .productInfo #techSpecs .specHeading {
    font-weight: bold;
    float: left;
    width: 220px;
    text-align: right;
  }

  .productInfo #techSpecs .specValue {
    margin-left: 220px;
    padding-left: 20px;
  }

  .productInfo #techSpecs .specHeading:after {
    content: ':';
  }

  .productInfo #techSpecs dl dd {
    overflow: visible;
    white-space: normal;
    margin-left: 220px;
    padding-left: 20px;
    padding-bottom: 0;
  }
}
