/**
 * Theme Name: RRC
 * Description: This is a refactoring of the original WordPress theme provided by BigDrop Inc. for the new Rincon Research Corporation website.
 * Version: 2.0
 * Author: Justin Spargur
 * Author Email: jms@rincon.com
 * License: GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Text Domain: rrc 
 */

/* WordPress Core Styles */

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.gallery-caption,
.wp-caption p.wp-caption-text {
    margin: .25em auto;
    padding: 0 4px 5px;
    font-style: italic;
    font-size: 90%;
    line-height: 130%;
    color: #666;
    font-weight: normal;
    max-width: 90%;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

.bypostauthor {
  display: none;
}

.bypostauthor {
  display: none;
}

.sticky {}

.small-caps {
  font-variant: small-caps;
}

.uppercase {
  text-transform: uppercase;
}

/*** Begin RRC Specific Styles ***/
body {
  margin: 0;
  padding: 0;
  color: #0a0a0a;
  background: #fefefe;
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('imgs/defaultPageBanner.png');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans',sans-serif;
  font-weight: 400;
  color: #444;
}

h1.alt-color,
h2.alt-color,
h3.alt-color,
h4.alt-color,
h5.alt-color,
h6.alt-color {
  color: #fff;
}

body, dl, ol, p, ul {
  line-height: 1.2;
}

h1 {
  font-size: 200%;
  font-weight: 700;
  line-height: 1.875em;
  margin: 0 0 1.25rem;
  text-align: center;
  text-transform: uppercase;
}

h1.page-title {
  display: none;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 130%;
  clear: both;
  margin-top: 2em;
}

h3 {
  font-size: 110%;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2em;
}

h4 {
  font-weight: bold;
  font-size: 100%;
  clear: both;
  margin-top: 2em;
}

h5 {
  font-weight: bold;
  font-size: 90%;
  clear: both;
  margin-top: 1.5em;
}

h6 {
  font-weight: bold;
}

/** Prevent overflow on mobile devices **/
.container {
  max-width: 95% !important;
  max-width: calc(100% - 30px) !important;
}

a.phoneLink {
  text-decoration: none;
}


header#masthead {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/*** Main Navigation Search Box ***/

#printLogo { display: none; }

header#masthead #site-search {
  position: absolute;
  top: 0px;
  right: 0px;
  transition: all .25s;
  z-index: 100;
  width: 50px;
  height: 50px;
}

header#masthead #site-search button {
  border: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  z-indez: 2;
  right: 0;

}

header#masthead #site-search input,
header#masthead #site-search button {
  outline: 0;
  background-color: transparent;
  color: white;
}

header#masthead #site-search input {
  border: 0;
  height: 50px;
  top:0;
  left: 0;
  right: 0;
  transition: width .25s;
  position: absolute;
  z-indez: 1;
  width: 0;
}

header#masthead.scrolling #site-search {
  top: 0px;
  right: 0px;
  left: auto;
  background-color: #399c77;

}

header#masthead.scrolling #site-search input,
  header#masthead.scrolling #site-search button {
  background-color: #399c77;
  color: #fff;
}

header#masthead #site-search.expanded {
  width: 100%;
  background-color: #fff;
}

header#masthead #site-search.expanded button,
header#masthead #site-search.expanded input {
  background-color: #fff;
  color: #333;
}

header#masthead #site-search.expanded input {
  width: 100%;
  width: calc(100% - 50px);
  padding-left: 1em;
}

header#masthead.scrolling #site-search.expanded {
  background-color: #399c77;
}

header#masthead.scrolling #site-search.expanded input {
  background-color: #399c77;
  color: #fff;
}

header#masthead.scrolling #site-search.expanded button,
header#masthead.scrolling #site-search.expanded input {
  background-color: #399c77;
  color: #fff;
}

header#masthead.scrolling #site-search ::-webkit-input-placeholder { color: #8BD6BA; }
header#masthead.scrolling #site-search :-moz-placeholder { color: #8BD6BA; }
header#masthead.scrolling #site-search ::-moz-placeholder { color: #8BD6BA; }
header#masthead.scrolling #site-search ::-ms-input-placeholder { color: #8BD6BA; }

/*** Site Navigation ***/
header#masthead nav {
  background-color: transparent;
  border: 0;
}

header#masthead nav {
  margin: 0;
  padding: 0;
}

header#masthead nav a {
  color: #fefefe;
  opacity: .7;
  font-weight: 700;
  color: #fefefe;
  text-transform: uppercase;
}

header#masthead a.navbar-brand {
  text-indent: -9999px;
  background-image: url('imgs/logo.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  opacity: 1;

  display: inline-block;
  float: left;
  width: 160px;
  margin: 10px 18px;
}

header#masthead.scrolling a.navbar-brand {
  margin: 0px 18px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: inherit;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border: 0;
  margin-right: 50px;
}

.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle .icon-bar:hover {
  background-color: #fefefe;
}

header#masthead.scrolling {
  background-color: rgba(30,33,34,.9);
}

header#masthead.scrolling a.navbar-brand {
  width: 160px;
  padding: 0;
}

header#masthead
{
  transition: all .25s;
}

.missing-banner + main > .page-content > h1 {
  display: block;
}

section h1 {
  margin-top: 3em;
}

.pagination>.active>a, 
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #399c77;
}

.pagination>li>a,
.pagination>li>span {
  color: #399c77;
}

.page-banner {
  min-height: 400px;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.page-banner.missing-banner {
  background-image: linear-gradient(rgba(30,33,34,.9) 0, rgba(30,33,34,.9) 65px, rgba(0,0,0,0) 65px), url('imgs/defaultPageBanner.png');
  min-height: 120px;
}

body.error404 .page-banner.missing-banner {
  min-height: 400px;
}

.page-banner.missing-banner h1.banner-title,
.page-banner.missing-banner p.banner-tagline {
  color: #666;
}

.page-banner h1.banner-title {
  font-weight: 700;
  color: #fff;

  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;

  font-size: 50px;
  line-height: 50px;
  font-size: 200%;
  font-size: 200%;
  top: 20%;
  top: calc(25% - 25px);
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.page-banner p.banner-tagline {
  color: #fff;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: 0 auto;
  max-height: 200px;

  font-size: 110%;
  line-height: 140%;

  top: 30%;
  top: calc(20% + 72px);
  max-width: 75%;
  right: 12.5%;
  left: 12.5%;
}

/*** Special case for pages with banner icons ***/
.page-banner.has-icons .page-icons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.page-icons {
  color: #fff;
  text-align: center;
  font-weight: 700;
  color: #fefefe;
}

.page-icons .icon {
  text-transform: lowercase;
  margin-bottom: 1.5em;

  /*** Animation ***/
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.page-icons .icon:nth-child(1) {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.page-icons .icon:nth-child(2) {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.page-icons .icon:nth-child(3) {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.page-icons .icon:nth-child(4) {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.page-icons img {
   max-width: 35px;
   max-height: 35px;
   display: block;
   margin: 0 auto 10px;
}

.page-icons p {
  margin: 0 auto;
  padding: 0;
  line-height: 100%;
  max-width: 150px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.pageTeaser,
div.entry .pageTeaser {
  margin-bottom: 7em !important;
  padding-bottom: 3em;
  border-bottom: 1px solid #999;
}

.pageTeaser p {
  font-size: 125%;
}

/*** Begin Accordion/Tabs Styles ***/

.accordion-tabs {
  margin-top: 4em;
}

.accordion-tab-headings {
  list-style: none;
  display: flex;
  justify-content: center;

  border-bottom: 1px solid #e6e6e6;
  padding: 0;
  padding-bottom: 4em;
  margin-bottom: 3em;
}

.accordion-tab-headings li {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  padding: 2%;
  text-align: center;
  outline: 0;

  position: relative;
}

.accordion-tab-headings li:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(135deg,#00587d 0,#3a9d76 100%);
  opacity: 0;
  transition: opacity .5s;
}

.accordion-tab-headings li:hover:after,
.accordion-tab-headings li.ui-tabs-active:after {
  opacity: 1;
}

.accordion-tab-headings li.no-background:hover:after,
.accordion-tab-headings li.no-background.ui-tabs-active:after {
  opacity: 0;
}

.accordion-tab-headings li a {
  text-decoration: none;
  font-weight: bold;
  line-height: 140%;
  color: #999;
  position: relative;
  display: block;
  width: 100%;
  outline: 0;

  z-index: 1;
}

.accordion-tab-headings li a span {
  display: block;
  font-weight: normal;
}

.accordion-tab-headings li a:after {
  content: '';
  position: absolute;
  width: 70px;
  border-radius: 2px;
  height: 7px;
  background-image: linear-gradient(95deg,#00587d 0,#3a9d76 100%);
  left: 50%;
  left: calc(50% - 35px);
  bottom: -3em;
  bottom: calc(-3em + 4px);

  display: none;
}

.accordion-tabs li.ui-tabs-active a:after {
  display: block;
}

.accordion-tab-headings li:hover a,
.accordion-tab-headings li.ui-tabs-active a {
  color: #fff;
}


.accordion-tab-headings li.no-background:hover a,
.accordion-tab-headings li.no-background.ui-tabs-active a {
  color: #999;
}

.accordion-tab-headings li.no-background:hover:after,
.accordion-tab-headings li.no-background.ui-tabs-active:after {
  opacity: 0;
}

.ui-accordion-header {
  font-size: 110%;
  color: #999;
  font-weight: 500;
  margin: 0;
  padding: 1em;
  border-bottom: 1px solid #ccc;
  outline: 0;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.ui-accordion-header:after {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 1px;
  font-weight: normal;
  font-size: 70%;
  line-height: 200%;
  padding: 1em;

  content: "\e259";
}

.ui-accordion-header.ui-accordion-header-active {
  background-image: linear-gradient(135deg,#00587d 0,#3a9d76 100%);
  color: #fff;
  border-bottom-color: transparent;
}

.ui-accordion-header.ui-accordion-header-active:after {
  content: "\e260";
}

/*** Start Icon Accordion/Tab Styles ***/
.icon-tabs .accordion-tab-headings li a:after {
  content: "\e259";
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  text-align: center;
  color: #fff;
  position: static;
  display: block;
  height: auto;
  width: 100%;

  background-image: none;
}

.icon-tabs .accordion-tab-headings li a:before {
  content: '';
  display: block;
  margin: 1em auto;
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-tabs .accordion-tab-headings li:hover,
.icon-tabs .accordion-tab-headings li.ui-tabs-active {
  /*background-image: linear-gradient(135deg,#00587d 0,#3a9d76 100%);*/
}

.icon-tabs .accordion-tab-headings li:hover a,
.icon-tabs .accordion-tab-headings li.ui-tabs-active a {
  color: #fff;
}

/*** Set specific tab icons ***/
.icon-tabs .accordion-tab-headings li[aria-controls=rf-signal-analysis] a:before {
  background-image: url('imgs/icons/rf_analysis.svg');
}
.icon-tabs .accordion-tab-headings li[aria-controls=rf-signal-analysis]:focus a:before,
.icon-tabs .accordion-tab-headings li[aria-controls=rf-signal-analysis]:hover a:before,
.icon-tabs .accordion-tab-headings li.ui-tabs-active[aria-controls=rf-signal-analysis] a:before {
  background-image: url('imgs/icons/rf_analysis_hover.svg');
}

.icon-tabs .accordion-tab-headings li[aria-controls=high-performance-computing] a:before {
  background-image: url('imgs/icons/high_perf_computing.svg');
}
.icon-tabs .accordion-tab-headings li[aria-controls=high-performance-computing]:focus a:before,
.icon-tabs .accordion-tab-headings li[aria-controls=high-performance-computing]:hover a:before,
.icon-tabs .accordion-tab-headings li.ui-tabs-active[aria-controls=high-performance-computing] a:before {
  background-image: url('imgs/icons/high_perf_computing_hover.svg');
}

.icon-tabs .accordion-tab-headings li[aria-controls=high-performance-electronics] a:before {
  background-image: url('imgs/icons/high_perf_electronics.svg');
}
.icon-tabs .accordion-tab-headings li[aria-controls=high-performance-electronics]:focus a:before,
.icon-tabs .accordion-tab-headings li[aria-controls=high-performance-electronics]:hover a:before,
.icon-tabs .accordion-tab-headings li.ui-tabs-active[aria-controls=high-performance-electronics] a:before {
  background-image: url('imgs/icons/high_perf_electronics_hover.svg');
}

.icon-tabs .accordion-tab-headings li[aria-controls=space-systems] a:before,
img.product-icon.space-systems {
  background-image: url('imgs/icons/space_systems.svg');
}
.icon-tabs .accordion-tab-headings li[aria-controls=space-systems]:focus a:before,
.icon-tabs .accordion-tab-headings li[aria-controls=space-systems]:hover a:before,
.icon-tabs .accordion-tab-headings li.ui-tabs-active[aria-controls=space-systems] a:before {
  background-image: url('imgs/icons/space_systems_hover.svg');
}

.icon-tabs .accordion-tab-headings li[aria-controls=analog] a:before,
img.product-icon.analog {
  background-image: url('imgs/icons/analog.svg');
}
.icon-tabs .accordion-tab-headings li[aria-controls=analog]:focus a:before,
.icon-tabs .accordion-tab-headings li[aria-controls=analog]:hover a:before,
.icon-tabs .accordion-tab-headings li.ui-tabs-active[aria-controls=analog] a:before {
  background-image: url('imgs/icons/analog_hover.svg');
}

.icon-tabs .accordion-tab-headings li[aria-controls=board-level] a:before,
img.product-icon.board-level {
  background-image: url('imgs/icons/board_level.svg');
}
.icon-tabs .accordion-tab-headings li[aria-controls=board-level]:focus a:before,
.icon-tabs .accordion-tab-headings li[aria-controls=board-level]:hover a:before,
.icon-tabs .accordion-tab-headings li.ui-tabs-active[aria-controls=board-level] a:before {
  background-image: url('imgs/icons/board_level_hover.svg');
}

.icon-tabs .accordion-tab-headings li[aria-controls=mountain-brik] a:before,
img.product-icon.mountain-brik {
  background-image: url('imgs/icons/mountain_brik.svg');
}
.icon-tabs .accordion-tab-headings li[aria-controls=mountain-brik]:focus a:before,
.icon-tabs .accordion-tab-headings li[aria-controls=mountain-brik]:hover a:before,
.icon-tabs .accordion-tab-headings li.ui-tabs-active[aria-controls=mountain-brik] a:before {
  background-image: url('imgs/icons/mountain_brik_hover.svg');
}

.icon-tabs .accordion-tab-headings li[aria-controls=wideband-systems] a:before,
img.product-icon.wideband-systems {
  background-image: url('imgs/icons/wideband_systems.svg');
}
.icon-tabs .accordion-tab-headings li[aria-controls=wideband-systems]:focus a:before,
.icon-tabs .accordion-tab-headings li[aria-controls=wideband-systems]:hover a:before,
.icon-tabs .accordion-tab-headings li.ui-tabs-active[aria-controls=wideband-systems] a:before {
  background-image: url('imgs/icons/wideband_systems_hover.svg');
}

.icon-tabs .accordion-tab-headings li[aria-controls=xsdr] a:before,
img.product-icon.xsdr {
  background-image: url('imgs/icons/xsdr.svg');
}

.icon-tabs .accordion-tab-headings li[aria-controls=xsdr]:focus a:before,
.icon-tabs .accordion-tab-headings li[aria-controls=xsdr]:hover a:before,
.icon-tabs .accordion-tab-headings li.ui-tabs-active[aria-controls=xsdr] a:before {
  background-image: url('imgs/icons/xsdr_hover.svg');
}

img.product-icon.page {
  background-image: url('imgs/icons/page.svg');
}

.page-content {
    margin-top: 5em;
}

/** Product Image Gallery Styles **/

.ug-lightbox .ug-textpanel-title {
   font-size: 120% !important;
   font-weight: bold !important;
}


/* General Page Styles */
div.entry li,
.accordion-tab-content li {
  line-height: 2em;
}

div.entry div,
div.entry p,
.accordion-tab-content div,
.accordion-tab-content p {
  line-height: 1.75em;
}

div.entry ul,
.accordion-tab-content ul {
  padding-left: 1em;
}

div.entry ul>li,
.accordion-tab-content ul>li {
  list-style: none;
}

div.entry ul>li {
  text-indent: -.35em;
  margin-left: .35em;
}

div.entry ul>li li {
  text-indent: -1.4em;
}

div.entry ul>li:before,
.accordion-tab-content ul>li:before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #104878;
  border-radius: 50%;
  position: relative;
  left: -.75em;
  top: -2px;
}

div.entry ul.noBullets li:before{ display: none; }

div.entry .row,
.accordion-tab-content .row {
  margin-top: 2em;
  margin-bottom: 2em;
}

div.entry *[class^='col-'] h1,
div.entry *[class^='col-'] h2,
div.entry *[class^='col-'] h3,
div.entry *[class^='col-'] h4,
div.entry *[class^='col-'] h5,
div.entry *[class^='col-'] h6 {
  margin-top: 0;
}

table {
  margin: 2em;
  max-width: 90% !important;
}

td, th {
  padding: 1em;
}

th {
  background-color: #025B7D;
  color: #fff;
}

div.entry ul>li li,
.accordion-tab-content ul>li li {
  margin-left: .75em;
}

/** Disc Bullets **/
div.entry ul>li>ul>li:before {
  left: -.75em;
  margin-left: 1em;
  background-image: radial-gradient(#fff 0, #fff 2px, #00587d 3px);
  width: 6px;
  height: 6px;
}

/** Square Bullets **/
div.entry ul>li>ul>li>ul>li:before {
  margin-left: 1em;
  background-image: none;
  border-radius: 0;
  width: 5px;
  height: 5px;
}

/** Circle Bullets **/
div.entry ul>li>ul>li>ul>li>ul>li:before {
  left: -.75em;
  margin-left: 1em;
  background-image: none;
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

/**[class^="col-"] * {
  max-width: 100%;
}*/

*[class^="col-"] img[class*="wp-image"] {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.bordered-image {
  border: 1px solid #999;
}

.imageWrapper { padding-bottom: 4em; }
.imageWrapper img{ width: 100% !important; }

img.full-width-image {
  width: 100% !important;
  max-width: 100% !important;
  margin-bottom: 4em !important;
}

img.gray-background {
  background-color: #eaeaea;
}

.alert {
  display: block;
  max-width: 90%;
  margin: 1em auto;
}

.btn {
  padding: 0 2em;
  line-height: 2.5em;
  border-radius: 1.25em;
  text-transform: uppercase;
  font-weight: 700;
  border: 0;
}

.btn:hover {
  border-color: currentColor;
}

.btn-default {
  background-color: transparent;
  border: 1px solid #444;
  color: #444;
}

.btn-default:hover { color: #aaa; }

.btn-info { background-color: #00587d; }
.btn-info:hover { background-color: #3986BB; }

.btn-success { background-color: #399c77; }
.btn-success:hover { background-color: #57C197; }

.btn-warning { background-color: #e7a955; }

.btn-danger { background-color: #AF3939; }
.btn-danger:hover { background-color: #9A3232; }

.read-more,
.btn-primary {
  padding: 0 2em;
  line-height: 2.5em;
  background-color: #399c77;
  border-radius: 1.25em;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  border: 0;
}

.read-more {
  display: block;
  margin: 2em auto;
  min-width: 11.5em;
  max-width: 17.5em;
  text-align: center;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.read-more:hover,
.read-more:focus,
.read-more:active {
  color: #fff;
  background-color: #aaa;
  text-decoration: none;
}

/*** Start About Styles ***/
.facilityInfo {
  max-width: 95%;
  margin: 3em auto 2em auto !important;
}

.facilityInfo li {
  line-height: 1.25em !important;
  margin-bottom: 1em;
}

.facilityInfo .facilityDetails h2 {
  margin-top: 0;
  margin-bottom: 1em;
}

.facilityInfo .facilityDetails strong {
  display: block;
  font-size: 200%;
}

.facilityInfo .facilityDetails div div {
  border-left: 1px solid #444;
  min-height: 100px;
}

/*** Start Affiliations Styles ***/
.affiliates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-flow: row wrap;
  flex-flow: row wrap;

  padding: 0;
  list-style: none;
  margin: 0 auto 70px;
}

.affiliates li {
    position: relative;
    display: inline-block;
    width: 50%;
    min-height: 130px;
    vertical-align: top;
}

.affiliates li:before {
  display: none !important;
}

body.page-template-affiliations .affiliates li {
  background-image: linear-gradient(rgba(0,0,0,0) 0, rgba(0,0,0,0) 100%), url('imgs/affiliates-bg.jpg');
  background-repeat: no-repeat;
  height: 110px;
  min-height: 0;
  max-width: 288px;
}

body.page-template-affiliations .affiliates li:hover {
  background-image: linear-gradient(-85deg, rgba(0,88,125,.7) 0, rgba(58,157,118,.7) 100%),
                    url('imgs/affiliates-bg.jpg');
}

body.page-template-affiliations .affiliates li:nth-child(7n+1) { background-position: 0 0, -0px -0px; }
body.page-template-affiliations .affiliates li:nth-child(7n+2) { background-position: 0 0, -288px -0px; }
body.page-template-affiliations .affiliates li:nth-child(7n+3) { background-position: 0 0, -0px -112px; }
body.page-template-affiliations .affiliates li:nth-child(7n+4) { background-position: 0 0, -288px -112px; }
body.page-template-affiliations .affiliates li:nth-child(7n+5) { background-position: 0 0, -0px -224px; }
body.page-template-affiliations .affiliates li:nth-child(7n+6) { background-position: 0 0, -288px -224px; }
body.page-template-affiliations .affiliates li:nth-child(7n+7) { background-position: 0 0, -0px -336px; }
body.page-template-affiliations .affiliates li:nth-child(7n+1) { background-position: 0 0, -288px -336px; }

.affiliates li a {
  display: block;
}

.affiliates li a img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 70%;
  max-height: 90%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

#awards ul {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 3em;
}

#awards li {
  list-style: none;
  display: inline-block;
  min-height: 150px;
  margin: 0;
  padding: 0 50px;
  position: relative;
  line-height: 150%;
  font-size: 110%;
}

#awards li:before,
#awards li:after {
  content: '';
  position: absolute;
  top:0;
  bottom:0;
  width: 50px;
  border-radius: 0;
  height: 100%;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 100% 100%;
}

#awards li:before {
  left: 5px;
  background-image: url('imgs/laurel-left.svg');
}

#awards li:after {
  right: 5px;
  background-image: url('imgs/laurel-right.svg');
}

#awards li strong,
#awards li span {
  display: block;
}

#awards li .awardGrantor {
  font-style: italic;
}

.page-content ul,
.page-content ol,
.page-content dl {
  line-height: 1.5em;
}


/*** Start Footer Styles ***/
#footer {
  text-transform: uppercase;
  text-align: center;
  color: #bbb;
  font-size: 90%;

  border-top: 1px solid rgba(255,255,255,.3);
  padding-top: 1em;
  position: relative;
  background-color: #070a1a;

  margin-top: 4em;
}

#footer nav ul {
  list-style: none;
  padding: 0;
}

#footer p {
  font-size: 80%;
  color: rgba(255,255,255, .4);
  margin: 2em;
}

#footer a {
  color: #bbb;
}

#footer a:focus,
#footer a:hover,
#footer a:active {
  color: white;
  text-decoration: none;
}

#footer #bottom-site-nav {
  text-align: left;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(255,255,255, .3);
}

#footer #bottom-site-nav li {
  line-height: 2.5em;
  font-size: 85%;
}


/*** Start Social Media Link Styles ***/
#footer .social-navigation {
  position: absolute;
  top: 0;
  right: 0;
}

#footer .social-navigation ul {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  margin-top: 1em;
  padding-bottom: 1em;
  line-height: 3em;
}

#footer .social-navigation a {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 140%;
  margin: 0 .5em;
}

#footer .social-navigation a:focus,
#footer .social-navigation a:hover,
#footer .social-navigation a:active {
  color: #399c77;
}

#footer .social-navigation a[href*="facebook.com"]:before { content: "\f09a"; }
#footer .social-navigation a[href*="linkedin.com"]:before { content: "\f0e1"; }
#footer .social-navigation a[href*="twitter.com"]:before  { content: "\f099"; }


/*** Start Footer Legal Link Styles ***/
#footer .legal-navigation a {
  font-size: 85%;
  text-transform: none;
  color: rgba(255,255,255, .4);
  padding: 0 1em;
  border-right: 1px solid #bbb;
}

#footer .legal-navigation a:last-of-type {
  border-right: 0;
}

#footer .legal-navigation ul {
  margin-top: 0;
}

/** Start 404 Page Styles ***/
body.error404 .page-banner {
  padding-top: 120px;
}

body.error404 .page-banner img {
  max-width: 80%;
  max-height: 150px;
  display: block;
  margin: 0 auto;
}

body.error404 .page-banner h1 {
  top: 250px;
  font-size: 200%;
}

body.error404 .page-banner p {
  top: 325px;
}

form#inlineSearchForm {
  min-height: 80px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

form#inlineSearchForm input {
  border: 1px solid #ccc;
  height: 34px;
  border-radius: 4px;
  width: 250px;
  margin-right: 1em;
  box-shadow: 0px 0px 30px rgba(0,0,0,.35);
}

form#inlineSearchForm button {
  background-color: #399c77;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  color: #fff;
}

body.error404 form#inlineSearchForm {
  min-height: 300px;
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .read-more {
    margin: 1em auto;
  }

  header#masthead .navbar-collapse li a {
    line-height: 90% !important;
  }
}

@media screen and (max-width: 768px) {

  .page-banner.has-icons .page-icons {
    bottom: 100px;
  }

  .page-icons p {
    display: none;
  }

  section h1 {
    margin-top: 1em;
  }

  #awards li {
    text-align: center;
    border-bottom: 1px solid #aaa;
    padding: 1em 40px;
    margin-bottom: 1em;
    min-height: 0;
  }
}

@media screen and  (min-width: 769px) {

  a.phoneLink {
    color: #444;
    cursor: default;
  }

  .affiliates li {
    width: 25%;
    min-height: 160px;
  }

  .affiliates ul img {
    max-width: 100%;
    max-height: 75%;
  }

  #awards li:before,
  #awards li:after {
    background-size: contain;
  }

  .accordion-tabs {
    margin-top: .5em;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .page-icons .icon:nth-of-type(odd) {
    clear:both;
  }
}

/*** Small-Medium Screens ***/
@media screen and (max-width: 1200px) {

  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  .navbar-collapse.collapse.in { 
    display: block!important;
  }

  .collapsing {
    overflow: hidden!important;
  }

  header#masthead .navbar-collapse {
    transition: left .5s;
  }

  header#masthead .navbar-collapse.collapse {
    position: fixed;
    z-index: 1;
    top: 0px;
    bottom: 0;
    left: 120%;
    right: 0;
    background: -webkit-linear-gradient(315deg,#00587d 0,#3a9d76 100%);
    background: linear-gradient(135deg,#00587d 0,#3a9d76 100%);
    display: block !important;
    padding-top: 50px;
    height: 100% !important;
  }

  header#masthead .navbar-collapse.collapse.in,
  header#masthead .navbar-collapse.collapsing {
    left: 0;
    position: fixed;
    z-index: 1;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(315deg,#00587d 0,#3a9d76 100%);
    background: linear-gradient(135deg,#00587d 0,#3a9d76 100%);
    display: block !important;
    padding-top: 50px;
    height: 100% !important;
  }

  header#masthead .navbar-collapse.collapsing[aria-expanded="false"] {
    left: 120%;
  }


  header#masthead .navbar-collapse.collapse.in li,
  header#masthead .navbar-collapse.collapsing li {
    padding-right: 1em;
    text-align: right;
  }

  button.navbar-toggle[aria-expanded="true"] {
    position: relative;
    z-index: 1000;
  }

  header#masthead .navbar-collapse li a {
    font-size: 130% !important;
    opacity: 1 !important;
    background-color: transparent;
    color: #fff !important;
  }

  header#masthead .navbar-collapse li.active a {
    text-decoration: underline;
    background-color: rgba(255,255,255,.1);
  }
}

/*** Desktop Screens ***/
@media screen and (min-width: 1200px) {

  header#masthead .navbar-nav {
    width: 75%;
    width: calc(100% - 350px);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  header#masthead.scrolling .navbar-nav {
    margin-top: 15px;
  }

  header#masthead .navbar-nav>li {
    float: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  header#masthead .navbar-nav>li.active {
    background-color: transparent;    
  }

  header#masthead .navbar-nav>li.active a {
    color: #fff;
    opacity: 1;
  }

  header#masthead .navbar-nav>li a {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  header#masthead .navbar-nav>li.active::after,
  header#masthead .navbar-nav>li:focus::after,
  header#masthead .navbar-nav>li:hover::after {
    content: '';
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    height: 14px;
    content: '';
    opacity: .5;
    background: url('imgs/active-menu.svg') 70% 0 no-repeat;
    background-size: contain;
  }

  header#masthead.scrolling .navbar-nav>li.active::after,
  header#masthead.scrolling .navbar-nav>li:focus::after,
  header#masthead.scrolling .navbar-nav>li:hover::after {
    display: none;
  }

  header#masthead.scrolling .navbar-nav>li.active a,
  header#masthead.scrolling .navbar-nav>li:focus a,
  header#masthead.scrolling .navbar-nav>li:hover a {
    color: #fff;
    opacity: 1;
  }
  
  header#masthead nav {
    margin: 0px;
    padding: 20px 0;
  }
  header#masthead nav .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  header#masthead a.navbar-brand {
    width: 300px;
    max-width: 300px;
    padding: 29px 0 0 25px;
  }

  header#masthead.scrolling a.navbar-brand {
    width: 160px;
  }

  header#masthead.scrolling nav {
    padding: 0;
  }

  header#masthead .navbar-nav>li {
    float: none;
    display: inline-block;
  }

  header#masthead .navbar-nav>li {
    float: none;
    display: inline-block;
  }

  /*** Main Navigation Search Box ***/
  header#masthead #site-search {
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: #fff;
  }

  header#masthead #site-search input,
  header#masthead #site-search button {
    background-color: #fff;
    color: #333;
    outline: 0;
  }

  header#masthead #site-search.expanded {
    width: 300px;
  }

  .page-banner {
    min-height: 450px;
  }

  .page-banner h1.banner-title {
    font-size: 72px;
    line-height: 72px;
    top: 40%;
    top: calc(45% - 36px);

    max-width: 100%;
  }

  .page-banner p.banner-tagline {
    font-size: 130%;
    line-height: 145%;
    top: 55%;
    top: calc(45% + 72px);
    max-width: 40%;
    max-height: 110px;
    left: 30%;
    right: 30%;
  }

  /** Page Icons **/
  .page-banner.has-icons {
    min-height: 550px;
  }

  .page-banner.has-icons h1.banner-title {
    top: 30%;
    top: calc(35% - 36px);
  }

  .page-banner.has-icons p.banner-tagline {
    top: 40%;
    top: calc(35% + 72px);
  }

  .page-icons .icon {
    min-height: 200px;
  }

  .page-banner.missing-banner {
    background-image: linear-gradient(rgba(30,33,34,.9) 0, rgba(30,33,34,.9) 100px, rgba(0,0,0,0) 101px), url('imgs/defaultPageBanner.png');
    background-image: linear-gradient(rgba(30,33,34,.9) 0, rgba(30,33,34,.9) 100px, rgba(0,0,0,0) 101px);
  }

  /* Hide Tab Headings */
  .ui-tabs-panel h2[data-index] {
    display: none;
  }

  #footer {
    font-size: 100%;
    border: 0;
  }

  #footer p {
    margin-top: 6em;
  }

  #footer #bottom-site-nav ul,
  #footer .social-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    line-height: 16px;
  }

  #footer #bottom-site-nav ul {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  #footer .social-navigation {
    position: static;
    padding-top: 1em;
    border-bottom: 1px solid rgba(255,255,255, .3);
  }
}


/** File Extension Icons **/
.file_ext_cell {
  max-width: 40px;
  width: 40px;
}

.file-icon {
  background-image: url('imgs/fileExtensions.png');
  background-position: -5px -5px;
  background-repeat: no-repeat;
  display: block;
  width: 26px;
  height: 26px;
  margin: 0 auto;
  text-indent: -9999px;
}

.file-icon-3dm { background-position: -41px -5px; }
.file-icon-3ds { background-position: -77px -5px; }
.file-icon-3g2 { background-position: -113px -5px; }
.file-icon-3gp { background-position: -149px -5px; }
.file-icon-7z { background-position: -185px -5px; }
.file-icon-aac { background-position: -221px -5px; }
.file-icon-ai { background-position: -257px -5px; }
.file-icon-aif { background-position: -293px -5px; }
.file-icon-apk { background-position: -329px -5px; }
.file-icon-app { background-position: -365px -5px; }
.file-icon-asf { background-position: -401px -5px; }
.file-icon-asp { background-position: -437px -5px; }
.file-icon-aspx { background-position: -5px -41px; }
.file-icon-asx { background-position: -41px -41px; }
.file-icon-avi { background-position: -77px -41px; }
.file-icon-bak { background-position: -113px -41px; }
.file-icon-bat { background-position: -149px -41px; }
.file-icon-bin { background-position: -185px -41px; }
.file-icon-bmp { background-position: -221px -41px; }
.file-icon-cab { background-position: -257px -41px; }
.file-icon-cad { background-position: -293px -41px; }
.file-icon-cdr { background-position: -329px -41px; }
.file-icon-cer { background-position: -365px -41px; }
.file-icon-cfg { background-position: -401px -41px; }
.file-icon-cfm { background-position: -437px -41px; }
.file-icon-cgi { background-position: -5px -77px; }
.file-icon-class { background-position: -41px -77px; }
.file-icon-com { background-position: -77px -77px; }
.file-icon-cpl { background-position: -113px -77px; }
.file-icon-cpp { background-position: -149px -77px; }
.file-icon-crx { background-position: -185px -77px; }
.file-icon-csr { background-position: -221px -77px; }
.file-icon-css { background-position: -257px -77px; }
.file-icon-csv { background-position: -293px -77px; }
.file-icon-cue { background-position: -329px -77px; }
.file-icon-cur { background-position: -365px -77px; }
.file-icon-dat { background-position: -401px -77px; }
.file-icon-db { background-position: -437px -77px; }
.file-icon-dbf { background-position: -5px -113px; }
.file-icon-dds { background-position: -41px -113px; }
.file-icon-deb { background-position: -77px -113px; }
.file-icon-dem { background-position: -113px -113px; }
.file-icon-dll { background-position: -149px -113px; }
.file-icon-dmg { background-position: -185px -113px; }
.file-icon-dmp { background-position: -221px -113px; }
.file-icon-doc { background-position: -257px -113px; }
.file-icon-docx { background-position: -293px -113px; }
.file-icon-drv { background-position: -329px -113px; }
.file-icon-dtd { background-position: -365px -113px; }
.file-icon-dwg { background-position: -401px -113px; }
.file-icon-dxf { background-position: -437px -113px; }
.file-icon-elf { background-position: -5px -149px; }
.file-icon-eml { background-position: -41px -149px; }
.file-icon-eps { background-position: -77px -149px; }
.file-icon-exe { background-position: -113px -149px; }
.file-icon-fla { background-position: -149px -149px; }
.file-icon-flash { background-position: -185px -149px; }
.file-icon-flv { background-position: -221px -149px; }
.file-icon-fnt { background-position: -257px -149px; }
.file-icon-fon { background-position: -293px -149px; }
.file-icon-gam { background-position: -329px -149px; }
.file-icon-gbr { background-position: -365px -149px; }
.file-icon-ged { background-position: -401px -149px; }
.file-icon-gif { background-position: -437px -149px; }
.file-icon-gpx { background-position: -5px -185px; }
.file-icon-gz { background-position: -41px -185px; }
.file-icon-gzip { background-position: -77px -185px; }
.file-icon-hqz { background-position: -113px -185px; }
.file-icon-html { background-position: -149px -185px; }
.file-icon-ibooks { background-position: -185px -185px; }
.file-icon-icns { background-position: -221px -185px; }
.file-icon-ico { background-position: -257px -185px; }
.file-icon-ics { background-position: -293px -185px; }
.file-icon-iff { background-position: -329px -185px; }
.file-icon-indd { background-position: -365px -185px; }
.file-icon-ipa { background-position: -401px -185px; }
.file-icon-iso { background-position: -437px -185px; }
.file-icon-jar { background-position: -5px -221px; }
.file-icon-jpg { background-position: -41px -221px; }
.file-icon-js { background-position: -77px -221px; }
.file-icon-jsp { background-position: -113px -221px; }
.file-icon-key { background-position: -149px -221px; }
.file-icon-kml { background-position: -185px -221px; }
.file-icon-kmz { background-position: -221px -221px; }
.file-icon-lnk { background-position: -257px -221px; }
.file-icon-log { background-position: -293px -221px; }
.file-icon-lua { background-position: -329px -221px; }
.file-icon-m3u { background-position: -365px -221px; }
.file-icon-m4a { background-position: -401px -221px; }
.file-icon-m4v { background-position: -437px -221px; }
.file-icon-mach-o { background-position: -5px -257px; }
.file-icon-max { background-position: -41px -257px; }
.file-icon-mdb { background-position: -77px -257px; }
.file-icon-mdf { background-position: -113px -257px; }
.file-icon-mid { background-position: -149px -257px; }
.file-icon-mim { background-position: -185px -257px; }
.file-icon-mov { background-position: -221px -257px; }
.file-icon-mp3 { background-position: -257px -257px; }
.file-icon-mp4 { background-position: -293px -257px; }
.file-icon-mpa { background-position: -329px -257px; }
.file-icon-mpg { background-position: -365px -257px; }
.file-icon-msg { background-position: -401px -257px; }
.file-icon-msi { background-position: -437px -257px; }
.file-icon-nes { background-position: -5px -293px; }
.file-icon-object { background-position: -41px -293px; }
.file-icon-odb { background-position: -77px -293px; }
.file-icon-odc { background-position: -113px -293px; }
.file-icon-odf { background-position: -149px -293px; }
.file-icon-odg { background-position: -185px -293px; }
.file-icon-odi { background-position: -221px -293px; }
.file-icon-odp { background-position: -257px -293px; }
.file-icon-ods { background-position: -293px -293px; }
.file-icon-odt { background-position: -329px -293px; }
.file-icon-odx { background-position: -365px -293px; }
.file-icon-ogg { background-position: -401px -293px; }
.file-icon-otf { background-position: -437px -293px; }
.file-icon-pages { background-position: -5px -329px; }
.file-icon-pct { background-position: -41px -329px; }
.file-icon-pdb { background-position: -77px -329px; }
.file-icon-pdf { background-position: -113px -329px; }
.file-icon-pif { background-position: -149px -329px; }
.file-icon-pkg { background-position: -185px -329px; }
.file-icon-pl { background-position: -221px -329px; }
.file-icon-png { background-position: -257px -329px; }
.file-icon-pps { background-position: -293px -329px; }
.file-icon-ppt { background-position: -329px -329px; }
.file-icon-pptx { background-position: -365px -329px; }
.file-icon-ps { background-position: -401px -329px; }
.file-icon-psd { background-position: -437px -329px; }
.file-icon-pub { background-position: -5px -365px; }
.file-icon-py { background-position: -41px -365px; }
.file-icon-python { background-position: -77px -365px; }
.file-icon-ra { background-position: -113px -365px; }
.file-icon-rar { background-position: -149px -365px; }
.file-icon-raw { background-position: -185px -365px; }
.file-icon-rm { background-position: -221px -365px; }
.file-icon-rom { background-position: -257px -365px; }
.file-icon-rpm { background-position: -293px -365px; }
.file-icon-rss { background-position: -329px -365px; }
.file-icon-rtf { background-position: -365px -365px; }
.file-icon-sav { background-position: -401px -365px; }
.file-icon-sdf { background-position: -437px -365px; }
.file-icon-sitx { background-position: -5px -401px; }
.file-icon-sql { background-position: -41px -401px; }
.file-icon-srt { background-position: -77px -401px; }
.file-icon-svg { background-position: -113px -401px; }
.file-icon-swf { background-position: -149px -401px; }
.file-icon-sys { background-position: -185px -401px; }
.file-icon-tar { background-position: -221px -401px; }
.file-icon-tgz { background-position: -221px -401px; }
.file-icon-tex { background-position: -257px -401px; }
.file-icon-tga { background-position: -293px -401px; }
.file-icon-thm { background-position: -329px -401px; }
.file-icon-tiff { background-position: -365px -401px; }
.file-icon-tmp { background-position: -401px -401px; }
.file-icon-torrent { background-position: -437px -401px; }
.file-icon-ttf { background-position: -5px -437px; }
.file-icon-txt { background-position: -41px -437px; }
.file-icon-uue { background-position: -77px -437px; }
.file-icon-vb { background-position: -113px -437px; }
.file-icon-vcd { background-position: -149px -437px; }
.file-icon-vcf { background-position: -185px -437px; }
.file-icon-vob { background-position: -221px -437px; }
.file-icon-wav { background-position: -257px -437px; }
.file-icon-wma { background-position: -293px -437px; }
.file-icon-wmv { background-position: -329px -437px; }
.file-icon-wpd { background-position: -365px -437px; }
.file-icon-wps { background-position: -401px -437px; }
.file-icon-wsf { background-position: -437px -437px; }
.file-icon-xhtml { background-position: -473px -5px; }
.file-icon-xlr { background-position: -473px -41px; }
.file-icon-xls { background-position: -473px -77px; }
.file-icon-xlsx { background-position: -473px -113px; }
.file-icon-xml { background-position: -473px -149px; }
.file-icon-yuv { background-position: -473px -185px; }
.file-icon-zip { background-position: -473px -221px; }


.style-guide-color-block {
  display: block;
  min-width: 50px;
  min-height: 50px;
  overflow: hidden;
  padding: 10px;
  margin: .5em auto;
  text-align: center;
  outline: 1px solid #444;
  color: #fff;
}

.style-guide-color-block.alt-color {
  color: #444;
}

.style-guide-show-grid {
  margin-bottom: 15px;
}

.style-guide-show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0,88,125,.15);
  border: 1px solid rgba(0,88,125,.2);
}
